{% extends 'base.html.twig' %}

{% block title %}LOGIN{% endblock %}

{% block body %}
{% if app.user %}
<div class="alert alert-success m-3" role="alert">
    Hi 👋, you are already logged as <u>{{ app.user.userIdentifier }}</u>, you can logout <a href="{{ path('app_logout') }}">here</a>
</div>
{% else %}
<div class="p-5 w-50 m-auto">
    <form method="post">
        {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        <h1 class="h3 mb-3 font-weight-normal text-center">Sign in to your account</h1>
        <div class="mb-3">
            <label for="inputEmail" class="form-label">Email address</label>
            <input type="email" value="{{ last_username }}" name="_username" id="username" class="form-control" required>
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" name="_password" id="password" class="form-control" autocomplete="current-password" required />
        </div>
        <input type="hidden" name="_csrf_token"
            value="{{ csrf_token('authenticate') }}">

        <button type="submit" class="btn btn-primary">Login</button>
        <a href="{{ path('app_register') }}" class="btn btn-link text-decoration-none fw-light text-dark">New user? Create your account!</a>
    </form>
</div>

{% if error %}
<div class="alert alert-danger">
    {{ error.messageKey|trans(error.messageData, 'security') }}
</div>
{% endif %}
{% endif %}
{% endblock %}