{% extends 'base.html.twig' %}

{% block title %}Profile{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

    <h1>User Profile</h1>

<p>Email: {{ user.email }}</p>
<p>Roles: {{ user.roles ? user.roles|join(', ') : 'No roles found' }}</p>
<p>Is Verified: {{ user.isVerified ? 'Yes' : 'No' }}</p>
<p>Account Created On: {{ user.create_date|date('Y-m-d H:i') }}</p>
<p>Last Updated On: {{ user.update_date|date('Y-m-d H:i') }}</p>

{% endblock %}
