<div class="navbar">
    <a href="{{ path('home') }}">Home</a>
    <a href="{{ path('app_profile') }}">Profile</a>
    <a href="{{ path('app_projects') }}">Projects</a>
    <a href="{{ path('app_sources') }}">Sources</a>
    <a href="{{ path('app_translations') }}">Translations</a>

    <div class="auth-links">
        <a href="{{ path('app_register') }}">Register</a>
        <a href="{{ path('app_login') }}">Login</a>
    </div>
</div>