{% extends 'base.html.twig' %}

{% block title %}SOURCES
{% endblock %}

{% block body %}
	<style>
		.example-wrapper {
			margin: 1em auto;
			max-width: 800px;
			width: 95%;
			font: 18px / 1.5 sans-serif;
		}

		.example-wrapper code {
			background: #F5F5F5;
			padding: 2px 6px;
		}
	</style>

	<div class="example-wrapper">
		{% if source is not null %}
			<div class="d-flex justify-content-between my-5">
				<a href="{{ path('app_sources') }}" class="btn btn-secondary">Retour à la liste</a>
			</div>


			<div class="card p-2">
				<div class="d-flex w-100 justify-content-between p-3">
					<h5 class="mb-1">{{ source.content }}</h5>
					<small class="text-muted">Clé :
						{{ source.cle }}</small>
				</div>
				<div class="d-flex w-100 justify-content-between px-3 mb-3">
					<small class="text-muted">Lié au projet :
						<a class="text-dark" href="{{ path('app_projects_show', {id: source.project.id}) }}">{{ source.project.name }}</a>
					</small>
					<small class="text-muted">Langage cible :
						{% for language in source.project.getTargetLanguages() %}
							{{ language.name }}
							{% if not loop.last %},
							{% endif %}
						{% endfor %}
					</small>
				</div>
			</div>
			<div class="mt-3">
				<div class="d-flex justify-content-between mb-3">
					<h5>Traductions</h5>
					<a href="{{ path('app_translations_new', {sourceId: source.id}) }}" class="btn btn-dark">
						<i class="fa fa-plus"></i>
					</a>
				</div>
				<ul class="list-group">
					{% for translation in source.translations %}
						<a href="{{ path('app_translations_show', {id: translation.id})}}" class="list-group-item list-group-item-action">
							<small>{{ translation.getTranslatedContent() }}</small>
						</a>
					{% else %}
						<div class="alert alert-warning text-center">Aucune traduction</div>
					{% endfor %}
				</ul>
			</div>


		{% else %}
			<div class="alert alert-warning text-center">Source inexistante</div>
		{% endif %}
	</div>

{% endblock %}
